<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354802003613-3tdjm9opmllhhd8ghu9omieq39qhb40c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354802003613-3tdjm9opmllhhd8ghu9omieq39qhb40c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>354802003613-4oo87aj0hm23a3jc2vvs6c6611gr4ht3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrXsTePxXp2bXA_tzA4zfpZz2hJ7KMO0w</string>
	<key>GCM_SENDER_ID</key>
	<string>354802003613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.appBaby</string>
	<key>PROJECT_ID</key>
	<string>appbaby-68c8d</string>
	<key>STORAGE_BUCKET</key>
	<string>appbaby-68c8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354802003613:ios:b8fc4fb0d380fe2318ee74</string>
</dict>
</plist>